.todo-container {
  padding: 30px 50px;
}

.todo-container__header-text {
  font-weight: 700;
  font-size: 48px;
}

.todo-container__todo-input {
  margin-right: 10px;
}

.todo-container__todo-list {
  list-style-type: none;
  padding: 0;
}
