.todo-container {
  padding: 30px 50px;

  &__header-text {
    font-weight: 700;
    font-size: 48px;
  }

  &__todo-input {
    margin-right: 10px;
  }

  &__todo-list {
    list-style-type: none;
    padding: 0;

    .todo-list__todo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 5px 30px;
      padding: 5px 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  }
}
